* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 3px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: lightgray;
  align-items: center;

}


/* Page Layout */
.columns {
  display: flex;
  padding: 15px 20px;
}


.wrapper {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.container {
  background-color: lightseagreen;
  max-width: 960px;
  margin-top: 25px;
  border-radius: 5px;
  padding: 20px 30px;
  margin: 40px;
  margin-bottom: 10px;
}